h3 {
  font-size: 25;
  margin: 0;
}

.website-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.tables-container {
  width: 600px;
}

.tables-container .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tables-container .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tables-container .table h3 {
  margin-bottom: 10px;
}

.tables-container .table .column-headers,
.tables-container .table .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tables-container .table .column-headers .column,
.tables-container .table .row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
  border-left: none;
}

.tables-container .table .column-headers .column-name,
.tables-container .table .row .column-name {
  border-left: 1px solid black;
}

.tables-container .table .row .column {
  border-top: none;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

.pagination-container .current-page {
  width: 100px;
  text-align: center;
  font-weight: 600;
}

.pagination-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 30px;
  cursor: pointer;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
}
/*# sourceMappingURL=App.css.map */